@model SignalAR.Models.Beer

    <form asp-controller="Home" asp-action="AddBeer" method="post">
        Nombre: <input asp-for="Name" type="text" value=""/><br/>
        Marca: <input asp-for="Brand" type="text" value=""/><br/>
        <button type="submit">Enviar</button>
    </form>