@{
    decimal totalLocal = (decimal)ViewBag.TotalLocal;
    decimal totalForeign = (decimal)ViewBag.TotalForeign;
}

<div class="row">
    <div class="col-12">
       Total local: <b>@totalLocal</b>
    </div>
</div>

<div class="row">
    <div class="col-12">
        Total extranjero: <b>@totalForeign</b>
    </div>
</div>